
.cart-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#cart-icon {
    margin-left: 10px;
}

#cart-popup {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #3b3b3b;
    border: 1px solid #ccc;
    color: rgb(114, 75, 50);
    border-radius: 5px;
    display: none;
    padding: 10px;
    width: 200px;
    z-index: 1;
}

#cart-popup ul {
    list-style: none;
    padding: 0;
}

#cart-popup li {
    margin-bottom: 10px;
}

#cart-popup:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}