body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

#header {
    background-color: #202020;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul a {
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

ul a:hover {
    color: #c0c0c0;
}

ul a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

ul a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    color: white;
}

#info-div {
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border: 2px solid #383838;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin: 20px;
}

.additional-info-container {
    background-image: url('Images/mains.jpg');
    background-size: cover;
}

.info-div, .additional-info {
    width: 48%;
    padding: 20px;
    background-color: #94949400;
    margin: 20px;
    box-sizing: border-box;
}

.additional-info {
   max-width: 600px;
   width: 48%;
   text-align: center;
   padding: 20px;
   background-color: #94949400;
   margin: 20px;
}

.additional-info h3 {
   color: #ffffff;
}

#stopka {
    background-color: #202020;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}