body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

#nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}

#nav li {
    display: inline;
    margin-right: 20px;
    background-color: #57575767;
    border-radius: 6px;
}

#nav li:hover {
    background: white;
}

.section {
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#cart-popup {
    border: 1px solid #ccc;
    padding: 10px;
}

#stopka {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 814px;
}